In [22]:
#1. domain name from mail id
a = str(input("Enter the email id:"))
b=(a.split('@', 2))
c=b[1]
d=(c.split('.',1))
print (d[0])

Enter the email id:ibn@ibn.com
ibn

In [89]:
#2. Sort comma seperated words
#enter words to split
input_str = input()
words = input_str.split(',')
# sort the list
words.sort()
sorted_str = ','.join(map(str, words)) 
print (sorted_str)

az,zc,cz,xc,vx
az,cz,vx,xc,zc

In [97]:
#3. Various operations on sets; ref W3 schools
#declare set
thisset = {"apple", "banana", "cherry"}
print(thisset)
#get individual values of set
for x in thisset:
  print(x)
#check if value exists
print("banana" in thisset)
print("mango" in thisset)
#add new item to set
thisset.add("orange")
print(thisset)
#update set
thisset.update(["orange", "mango", "grapes"])
print(thisset)
#check number of values in set
print(len(thisset))
#remove value for set
thisset.remove("banana")
print(thisset)
#remove via discard method
thisset.discard("mango")
print(thisset)
#check pop method
x = thisset.pop()
print(x)
print(thisset)
#clear function
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)
#delete set
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)
#note this command throws an error since the set has been deleted.

{'apple', 'cherry', 'banana'}
apple
cherry
banana
True
False
{'apple', 'orange', 'cherry', 'banana'}
{'apple', 'grapes', 'cherry', 'mango', 'orange', 'banana'}
6
{'apple', 'grapes', 'cherry', 'mango', 'orange'}
{'apple', 'grapes', 'cherry', 'orange'}
apple
{'grapes', 'cherry', 'orange'}
set()

NameError: ignored

In [100]:
#3.b Sets continuation
#union of sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
#update sets
set1.update(set2)
print(set1)
#constructor method
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'b', 1, 2, 3, 'a', 'c'}
{'b', 1, 2, 3, 'a', 'c'}
{'apple', 'cherry', 'banana'}

In [123]:
#4. find missing number in list of numbers ranging from 1 to n
input_value = input("Enter a list elements separated by comma ")
values = input_value.split(',')
for i in range(0, len(values)):
  values[i] = int(values[i]) 
def missing_num(values): 
    n = len(values) 
    total = (n + 1)*(n + 2)/2
    sum_of_values = sum(values) 
    return total - sum_of_values 
answer = int(missing_num(values)) 
print(answer)

Enter a list elements separated by comma 1,2,4,5
3

In [128]:
#5. Remove duplicates from given numbers
input_value = input("Enter a list elements separated by space ")
values = input_value.split(' ')
for i in range(0, len(values)):
  values[i] = int(values[i]) 
mylist = list(dict.fromkeys(values))
output = ' '.join(map(str, mylist))
print(output)

Enter a list elements separated by space 1 2 3 3
1 2 3